
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
    
}

h1{
    font-family: inter;
}

p{
    font-family: inter;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 166, 209);
    padding: 10px;
    align-items: center;

}

.brand {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.brand img {
    height: 100px;
    padding: 20px;
}

.brand span {
    font: 30px;
    font-weight: 600;
}

ul {
    display: flex;
    padding: 30px;
    min-width 0;
    list-style: none;
    gap: 35px;


}

li a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.left {
    flex-basis: 100%;

}

.right {
    flex-basis: 100%;
    position: relative;
}

.right img {
    position: absolute;
    margin: 130px auto 0 auto;
    right: 0;
    left: 0;
    width: 60%;

}

.right svg {
    transform: rotate(30deg);

}
button{
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 12px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 27px;
    box-shadow: 0 0 10px;
    border-style: none;
}

button:hover{
    box-shadow: 0 0 10px;
    background-color: aliceblue;
    color: black;
}